@import "./styles/colors";

body {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  background: $background-gradient;
  min-height: 400px;
  min-width: 400px;
}

.AppWrapper {
  width: 300px;
  height: 200px;
  position: relative;
}
